---
layout: layouts/home.njk
eleventyNavigation:
  key: Kezdőlap
  order: 1
---

<h2>Hasznos linkek</h2>

<ul>
<li><a href="https://www.wordreference.com/conj/esverbs.aspx" target="_blank">Spanyol ragozás szótár (wordreference)</a></li>
<li><a href="https://en.bab.la/conjugation/spanish/" target="_blank">Spanyol ragozás szótár (bab.la)</a></li>
<li><a href="http://szotar.avw.hu/" target="_blank">SZTE közösségi fejlesztésű Spanyol-Magyar szótára</a></li>
<li><a href="https://podcast.duolingo.com/spanish" target="_blank">Duolingo Spanyol podcast angol kontextussal</a></li>
<li><a href="https://podcast.duolingo.com/ingles-espanol" target="_blank">Duolingo Angol podcast spanyoloknak visszafelé tanuláshoz</a></li>
<li><a href="https://www.languagereactor.com/" target="_blank">Netflix/Youtube nyelvtanulás segítő alkalmazás</a></li>
</ul>

<h2>Témák</h2>

{% set maxPosts = collections.posts.length | min(100) %}
{# <h1>Legutóbbi {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} poszt{% endif %}</h1> #}

{% set postslist = collections.posts | head(-100) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>A többi posztot megtalálod az <a href="{{ '/posts/' | url }}">archívumban</a>.</p>
