---
layout: layouts/home.njk
eleventyNavigation:
  key: Kezdőlap
  order: 1
---

{% markdown %}
  {%- include "_includes/homepage.md" -%}
{% endmarkdown %}

<h2>Témák</h2>

{% set maxPosts = collections.posts.length | min(100) %}
{# <h1>Legutóbbi {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} poszt{% endif %}</h1> #}

{% set postslist = collections.posts | head(-100) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>A többi posztot megtalálod az <a href="{{ '/posts/' | url }}">archívumban</a>.</p>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DWVtmGxs4S4N7?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>