---
layout: layouts/home.njk
eleventyNavigation:
  key: Kezdőlap
  order: 1
---

Hasznos linkek:
<a href="https://www.wordreference.com/conj/esverbs.aspx" target="_blank">Spanyol ragozás</a>
<a href="http://szotar.avw.hu/" target="_blank">SZTE közösségi fejlesztésű szótára</a>

{% set maxPosts = collections.posts.length | min(100) %}
<h1>Legutóbbi {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} poszt{% endif %}</h1>

{% set postslist = collections.posts | head(-100) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>A többi posztot megtalálod az <a href="{{ '/posts/' | url }}">archívumban</a>.</p>
