---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: "{{ tag }}"
permalink: /tags/{{ tag | slugify }}/
---
<h1>"{{ tag }}" címkéjű</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p><a href="{{ '/tags/' | url }}">Összes címke</a> megtekintése.</p>
