---
layout: layouts/home.njk
title: Címkék
permalink: /tagbrowser/
eleventyNavigation:
  key: Címkék
  order: 3
---

<p>
{% for tag in collections.tagList | sort %}
{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag | title }}</a>
{% endfor %}
</p>