---
layout: layouts/post.njk
title: Szavak
templateClass: tmpl-post
eleventyNavigation:
  key: Szavak
  order: 4
---

<table>
  <thead>
    <tr>
      <th>Téma</th>
      <th>Magyar</th>
      <th>Spanyol</th>
    </tr>
  </thead>
  <tbody>
{%- for row in palabras %}
  <tr>
    <td>{{ row.tema }}</td>
    <td>{{ row.magyar }}</td>
    <td>{{ row.spanyol }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>